In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import load_npz, save_npz, hstack
import scipy
from tqdm import tqdm
import os

### Get the class labels corresponding to each row in bytes bigram features matrix
1. Get the sequence in which bytes bigram matrix is ordered in terms of 'ID'
2. Use it to reindex the class labels in trainLabels.csv as per the order.

In [2]:
import py7zr
with py7zr.SevenZipFile('train.7z', mode='r') as z:
    data = z.getnames()

#Note: We have created our bytes bigram matrix as per the order below, so we use this to order to fetch corresponding labels from labels.csv 
order_sequence = [i for i in data if i.endswith('bytes')]
order_sequence = list(map(lambda x: x.split('/')[-1], order_sequence))
order_sequence = list(map(lambda x: x.split('.')[0], order_sequence))

In [3]:
#reindex the labels dataframe using the order sequence 
labels = pd.read_csv('trainLabels.csv', index_col='Id')
labels_reindexed = labels.reindex(index = order_sequence)
labels_reindexed.head()

                      Class
Id
01azqd4InC7m9JpocGv5      9
01IsoiSMh5gxyDYTl4CB      2
01jsnpXSAlgw6aPeDxrU      9
01kcPWA9K2BOxQeS5Rju      1
01SuzwMJEIXsK7A8dQbl      8

In [4]:
classes = list(labels_reindexed["Class"])

### Load the bytes bigram features matrix and transform it to a dataframe 

Note: This is a huge matrix so make sure you use a machine with substantial memory before converting it to a dataframe

In [5]:
def generate_bigrams(ls):
    ls = ls.split(',')
    bigrams = [" ".join((i,j)) for i in ls for j in ls]
    return bigrams

ls = '00,01,02,03,04,05,06,07,08,09,0a,0b,0c,0d,0e,0f,10,11,12,13,14,15,16,17,18,19,1a,1b,1c,1d,1e,1f,20,21,22,23,24,25,26,27,28,29,2a,2b,2c,2d,2e,2f,30,31,32,33,34,35,36,37,38,39,3a,3b,3c,3d,3e,3f,40,41,42,43,44,45,46,47,48,49,4a,4b,4c,4d,4e,4f,50,51,52,53,54,55,56,57,58,59,5a,5b,5c,5d,5e,5f,60,61,62,63,64,65,66,67,68,69,6a,6b,6c,6d,6e,6f,70,71,72,73,74,75,76,77,78,79,7a,7b,7c,7d,7e,7f,80,81,82,83,84,85,86,87,88,89,8a,8b,8c,8d,8e,8f,90,91,92,93,94,95,96,97,98,99,9a,9b,9c,9d,9e,9f,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,aa,ab,ac,ad,ae,af,b0,b1,b2,b3,b4,b5,b6,b7,b8,b9,ba,bb,bc,bd,be,bf,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9,ca,cb,cc,cd,ce,cf,d0,d1,d2,d3,d4,d5,d6,d7,d8,d9,da,db,dc,dd,de,df,e0,e1,e2,e3,e4,e5,e6,e7,e8,e9,ea,eb,ec,ed,ee,ef,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,fa,fb,fc,fd,fe,ff,??'
bigram_vocab = generate_bigrams(ls)

In [6]:
bytes_bigrams = load_npz('saved files/bytes_bigram_features.npz')

In [7]:
bytes_bigrams_arr = bytes_bigrams.toarray()

In [8]:
bytes_bigram_df = pd.DataFrame(bytes_bigrams_arr, columns = bigram_vocab)
bytes_bigram_df['Class'] = classes
print(bytes_bigram_df.shape)
bytes_bigram_df.head()

(10868, 66050)

,00 00,00 01,00 02,00 03,00 04,00 05,00 06,00 07,00 08,00 09,...,?? f8,?? f9,?? fa,?? fb,?? fc,?? fd,?? fe,?? ff,?? ??,Class
0,274430,1269,1029,1469,1227,1144,1437,1263,1174,1270,...,0,0,0,0,0,0,0,0,0,9
1,21081,752,73,48,175,12,10,11,42,9,...,0,0,0,0,0,0,0,0,0,2
2,16807,596,159,144,513,595,557,146,528,154,...,0,0,0,0,0,0,0,0,0,9
3,10423,225,61,69,114,40,25,22,63,15,...,0,0,0,0,0,0,0,0,0,1
4,16277,62,22,126,9,11,3,5,11,3,...,0,0,0,0,0,0,0,0,0,8

In [9]:
#separating predictor and target
X = bytes_bigram_df.drop(columns=['Class'])
y = bytes_bigram_df['Class']

# removing the zero variance features
# refer - https://stackoverflow.com/questions/21164910/how-do-i-delete-a-column-that-contains-only-zeros-in-pandas
X = X.loc[:, (X != 0).any(axis=0)]
# nonzero_var_features = X.columns
print(X.shape)

(10868, 65536)

In [18]:
#features with non-zero variance
X.columns

Index(['00 00', '00 01', '00 02', '00 03', '00 04', '00 05', '00 06', '00 07',
       '00 08', '00 09',
       ...
       'ff f6', 'ff f7', 'ff f8', 'ff f9', 'ff fa', 'ff fb', 'ff fc', 'ff fd',
       'ff fe', 'ff ff'],
      dtype='object', length=65536)

### Scale the data using Min-Max Scaler
note: we perform min-max scaling on data before splitting because we need the min and max values of each feature here, to scale the data correctly. Performing scaling after splitting may cause difference in min and max values of train and test set which may lead to difference in the scale of train and test ultimately affecting model's performance.

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X) #returns array

In [19]:
X_scaled = pd.DataFrame(X_scaled, columns = list(X.columns))

### Selecting Best features using Chi-Squared and ANOVA separately

In [26]:
#although here we are only performing feature selection on bytes bigram features, splitting is necessary to avoid data leakage  
#make sure to use the same random state later when splitting the asm and bytes features matrices (opcode,size,unigram,size,pixel) 
#then stack all train and test sets together
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, stratify = y, random_state=15)

In [27]:
#refer - https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest.get_feature_names_out
from sklearn.feature_selection import SelectKBest, f_classif, chi2
selector = SelectKBest(f_classif, k=5000)

#returns ndarray
X_bigram_anova_train = selector.fit_transform(X_train,y_train)
X_bigram_anova_test = selector.transform(X_test)

#names of selected features 
features_anova = selector.get_feature_names_out()

In [30]:
X_bigram_anova_train.shape, X_bigram_anova_test.shape

((8694, 5000), (2174, 5000))

In [35]:
selector_ = SelectKBest(chi2, k=5000)

#returns ndarray
X_bigram_chi2_train = selector_.fit_transform(X_train,y_train)
X_bigram_chi2_test = selector_.transform(X_test)

#names of selected features 
features_chi2 = selector_.get_feature_names_out()

In [36]:
X_bigram_chi2_train.shape, X_bigram_chi2_test.shape

((8694, 5000), (2174, 5000))

In [37]:
features_chi2, features_anova

(array(['00 01', '00 6a', '00 a2', ..., 'ff 9c', 'ff 9d', 'ff 9f'],
       dtype=object),
 array(['01 f0', '29 ba', '29 bf', ..., 'fd 9a', 'fd a9', 'fd db'],
       dtype=object))

In [38]:
np.save('saved files/selected_features_chi2.npy', features_chi2)
np.save('saved files/X_bigram_chi2_train.npy', X_bigram_chi2_train)
np.save('saved files/X_bigram_chi2_test.npy', X_bigram_chi2_test)

np.save('saved files/selected_features_anova.npy', features_anova)
np.save('saved files/X_bigram_anova_train.npy', X_bigram_anova_train)
np.save('saved files/X_bigram_anova_test.npy', X_bigram_anova_test)

np.save('saved files/y_train.npy',y_train)
np.save('saved files/y_test.npy',y_test)

Note: We primarily use Chi-Squared selected features to build our model. If it doesn't yield the desired performance we may make use of ANOVA selected features.